In [83]:
import numpy as np
import matplotlib as plt
import pandas as pd


dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values #independent variables, all rows + all columns except the last one
y = dataset.iloc[:, 3].values #dependent variable, all rows of the last column

In [84]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [85]:
# Missing data

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:, 1:3]) #index 3 is excluded
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [86]:
# Encoding Categorical Variables (France/Spain/Germany, Yes/No)

from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0]) # France = 0, Germany = 1, Spain = 2 ---> bad

In [87]:
# Dummy Variables

from sklearn.compose import ColumnTransformer
columntransformer = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = columntransformer.fit_transform(X)
X = X.astype(int)

In [88]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y) #No = 0, Yes = 1

In [89]:
# Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=0) #20% in test set, 80% in training set

In [66]:
# Feature Scaling : normalisation or standardisation

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)